<a href="https://join.slack.com/t/meltano/shared_invite/zt-obgpdeba-7yrqKhwyMBfdHDXsZY8G7Q"><span class="icon icon--slack">{% include icon-slack.svg%}</span><span class="username">{{ include.username }}</span></a>
